@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
  --color-horse-red: #b91c1c;
  --color-horse-gold: #facc15;
  --color-horse-dark: #8B0000;
}

body {
  background-color: var(--color-horse-dark);
  color: var(--color-horse-gold);
  font-family: 'Noto Sans TC';
}